
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Trade+Winds&display=swap');

/* body style */
 
  html, body {
    font-family: 'Nunito', sans-serif;
    /* font-family: "Times New Roman", Times, serif; */
    padding-left: 6%;
    padding-right: 6%;
    background-color: gray;
  }
 
  .containerBox {
    background-color: #ffffff;
    /* padding: 0; */
    margin: 10px;
  }
  /* .containerBox2{
      padding: 0;
  } */


  .full-height {
    height: 100vh;
  }

  .flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .position-ref {
    position: relative;
  }

  .top-right {
    position: absolute;
  }

  .title {
    font-size: 75px;
  }

  .links>a {
    /* color: #636b6f; */
    padding: 0 25px;
    font-size: 1px;
    font-weight: 550;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
  }
/* end body style */

footer {
  overflow: hidden;
  bottom: 0;
  background: #094250;
  background: linear-gradient(130deg, #53777e, #328296, #1d86a0);
  padding: 10px;
  text-align: center;
  Width: 98.2%;
}


/*  style for navigation bar   */

  .topnav {
    background: linear-gradient(120deg, #67d4e7, #5fc9e4, #27c5ec);
    overflow: hidden;
    width: 100%;
    transition: top 0.3s;
    justify-content: space-between;
    display: flex;
    align-items: center;
    box-shadow: 0 1px 2px rgba(0,0,0,0.1);
    z-index: 1;
    top: 0;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 70.2%;
    z-index: 20;
  }

  .sticky+.content {
    padding-top: 60px;
  }

  .topnav a {
    float: right;
    display: block;
    border: 1.5px solid #d5dbd9;
    border-radius: 5px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav span {
    float: left;
    color: #fcfcfc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }

  .topnav a:hover {
    background-color: rgb(85, 85, 221);
  }

  .topnav a.active {
    color: #ffffff;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a.active:hover {
    background-color: rgb(85, 85, 221);
  }


/* End nav bar */

/* <!-- style for drop down --> */

/* Style for column */

  .dropdown-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;
    border-color:#5fbdd4;
    background: #8698d4;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    width: 100%;
  }

  .view-btn {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    border-style: groove;
    border-width: 1px;
    border-radius: 5px;
    border-color:#5fbdd4;
    background: #6a84d8;
    width: 100%;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    color: black;
    width: 100%;
  }

  .dropdown-container span, .dropspan-container .dropspan, .dropspanCurrent { /* needed for 'clearance request' span don't delet*/
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    background: #5d9fcc;
    text-align: left;
    color: white;
    margin: 0;
  }

  .dropspanCurrent { /* needed for current page indicator span don't delet*/
    padding-left: 100px;
  }

  /* On mouse-over */
  .dropdown-btn:hover {
    background-color: rgb(85, 85, 221);
  }

  /* Dropdown container */
  .dropdown-container {
    display: block;
    background-color: #6b9ba7;
    padding-left: 0px;
    width: 100%;
    margin-top: 10px;
    padding-top: 20px;
  }

  .body-container {
    background: #ffffff;
    margin-top: 0;
  }

  .abutton {
    background-color: #94b5d8;
    border: none;
    border-radius: 3px;
    color: white;
    text-align: left;
    text-decoration: none;
    display: block;
    font-size: 10px;
    cursor: pointer;
  }
  .abutton:hover{
      color: #f1f1f1;
  }


  button {
    float: left;
    background-color: #2ecce0;
    color: white;
    cursor: pointer;
    width: 50%;
    height: 40px;
  }

  button:hover {
    opacity: 0.7;
  }

  .column {
    float: left;
    width: 30%;
    background-color: rgb(224, 235, 240);
    margin-top: 0;
    padding-top: 3%;
    height: auto;
  }

  .column1 {
    float: left;
    display: block;
    width: 50%;
    background-color: rgb(178, 217, 250);
    margin-top: 0;
  }

  .left {
    width: 25%;
  }

  .right {
    width: 75%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  /* The navigation menu links */
  .column a {
    padding: 8px 8px 8px 32px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 22px;
    display: block;
    transition: 0.3s;
  }

  /* When you mouse over the navigation links, change their color */
  .column a:hover {
    background-color: rgb(85, 85, 221);
    color: #f1f1f1;
  }

  /* On smaller screens, where height is less than 450px, */
  @media screen and (max-height: 600px) {
  
    .column a {
      font-size: 18px;
    }
  
    .column,
    .column1 {
      width: 100%;
      padding-top: 15px;
    }

    footer {
      width: 93.5%;
    }
  }
  
  
  @media screen and (max-width: 600px) {
    html, body {
      padding: 2%;
      /* margin: 0; */
    }
   
    .topnav a,
    a.activeHome {
      float: none;
      display: block;
      text-align: left;
      font-size: 12px;
      border: none;
      margin: 0;
      padding: 10px;
    }
    .sticky {
      width: 73.5%;
      height:auto;
    }
    .topnav .navbar_right .profile .icon_wrap{
      padding-right: 5px;
    }
    .topnav span {
      float: left;
      padding: 14px 16px;
      font-size: 16px;
    }
     
    .topnav .navbar_right {
      display: inline-block;
      align-items: center;
      justify-content: center;
    }
    
    .topnav a {
      text-decoration: underline;
    }
    
    .topnav .navbar_right .profile .icon_wrap{
      position: relative;
    }

    .topnav .profile .profile_dd{
      top: 110px;
      right: 2px; 
      left: 185px;
    }
    .topnav .profile .profile_dd .spanText{
    font-size: 12px;

    }
    .topnav .profile .profile_dd .profile_ul a{
    font-size: 14px;
    }

  }
  @media screen and (max-width: 420px) {

    .topnav a,
    a.activeHome {
      float: none;
      display: block;
      text-align: left;
      font-size: 12px;
      border: none;
      margin: 0;
      padding: 10px;
      /* float: right; */
    }
    .sticky {
      width: 73.5%;
      height:auto;
    }
    .topnav .navbar_right .profile .icon_wrap{
      padding-right: 5px;
    }
    .topnav span {
      float: left;
      padding: 14px 16px;
      font-size: 16px;
    }
    .topnav .navbar_right .profile .name{
      display: none;
    }
    .topnav .navbar_right {
      /* float: right; */
      display: inline-block;
      align-items: center;
      justify-content: center;
    }
    
    .topnav a {
      text-decoration: underline;
    }
    
    .topnav .navbar_right .profile .icon_wrap{
      position: relative;
    }

    .topnav .profile .profile_dd{
      top: 110px;
      right: 2px; 
      left: 185px;
      /* margin-right: 150px; */
      /* margin-top: 8px; */
    }
    .topnav .profile .profile_dd .spanText{
    font-size: 12px;

    }
    .topnav .profile .profile_dd .profile_ul a{
    font-size: 14px;
    }
    .profile_dd{
      height: auto;
  }
  

  }

/* end of body style */

/* wrapper Student information form style */

  .wrapper {
    max-width: 500px;
    width: 88%;
    background: #fff;
    margin: 10px auto;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.125);
    padding: 30px;
  }

  .wrapper .title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    text-transform: uppercase;
    text-align: center;
  }

  .wrapper .form {
    width: 100%;
    align-items: center;
    padding-left: 10%;
  }

  .wrapper .form .inputfield {
    margin-bottom: 15px;
    align-items: center;

  }

  .wrapper .form .inputfield label {
    width: 200px;
    color: black;
    font-size: 14px;
  }

  .wrapper .form .inputfield .input,
  .wrapper .form .inputfield .textarea {
    width: 70%;
    outline: none;
    border: 1px solid #d5dbd9;
    font-size: 15px;
    padding: 8px 10px;
    border-radius: 3px;
    transition: all 0.3s ease;
  }

  .wrapper .form .inputfield .textarea {
    width: 100%;
    height: 125px;
    resize: none;
  }

  .wrapper .form .inputfield .custom_select {
    position: relative;
    width: 75%;
    height: 37px;
  }

  .wrapper .form .inputfield .custom_select:before {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border: 8px solid;
    border-color: #d5dbd9 transparent transparent transparent;
    pointer-events: none;
  }

  .wrapper .form .inputfield .custom_select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    height: 100%;
    border: 0px;
    padding: 8px 10px;
    font-size: 15px;
    border: 1px solid #d5dbd9;
    border-radius: 3px;
  }


  .wrapper .form .inputfield .input:focus,
  .wrapper .form .inputfield .textarea:focus,
  .wrapper .form .inputfield .custom_select select:focus {
    border: 1px solid #1c8ad4;
  }

  .wrapper .form .inputfield p {
    font-size: 14px;
    color: #757575;
  }

  .wrapper .form .inputfield .check {
    width: 15px;
    height: 15px;
    position: relative;
    display: block;
    cursor: pointer;
  }

  .wrapper .form .inputfield .btn {
    width: 75%;
    padding: 8px 10px;
    font-size: 15px;
    border: 0px;
    background: #2691d9;
    color: #e9f4fb;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
  }

  .wrapper .form .inputfield .btn:hover {
    border-color: #88a5b8;
    background: #4d94c4;
    transition: .5s;
  }

  .wrapper .form .inputfield:last-child {
    margin-bottom: 0;
  }

  @media (max-width:420px) {
    .wrapper .form .inputfield {
      flex-direction: column;
      align-items: flex-start;
    }

    .wrapper .form .inputfield label {
      margin-bottom: 5px;
    }

    .wrapper .form .inputfield.terms {
      flex-direction: row;
    }

    .wrapper {
      width: 79%;
    }
  }

/* END Student information form style */ 


.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62
}

.btn-secondary.focus,
.btn-secondary:focus {
  color: #fff;
  background-color: #5a6268;
  border-color: #545b62;
  box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5)
}

.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active,
.show>.btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #545b62;
  border-color: #4e555b
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(130, 138, 145, .5)
}

.btn-group-sm>.btn,
.btn-sm {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(../fonts/glyphicons-halflings-regular.eot);
  src: url(../fonts/glyphicons-halflings-regular.eot?#iefix) format('embedded-opentype'), url(../fonts/glyphicons-halflings-regular.woff2) format('woff2'), url(../fonts/glyphicons-halflings-regular.woff) format('woff'), url(../fonts/glyphicons-halflings-regular.ttf) format('truetype'), url(../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular) format('svg')
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.glyphicon-asterisk:before {
  content: "\2a"
}

.glyphicon-plus:before {
  content: "\2b"
}

.glyphicon-eur:before,
.glyphicon-euro:before {
  content: "\20ac"
}

.glyphicon-minus:before {
  content: "\2212"
}

.glyphicon-cloud:before {
  content: "\2601"
}

.glyphicon-envelope:before {
  content: "\2709"
}

.glyphicon-pencil:before {
  content: "\270f"
}

.glyphicon-glass:before {
  content: "\e001"
}

.glyphicon-music:before {
  content: "\e002"
}

.glyphicon-search:before {
  content: "\e003"
}

.glyphicon-heart:before {
  content: "\e005"
}

.glyphicon-star:before {
  content: "\e006"
}

.glyphicon-star-empty:before {
  content: "\e007"
}

.glyphicon-user:before {
  content: "\e008"
}

.glyphicon-film:before {
  content: "\e009"
}

.glyphicon-th-large:before {
  content: "\e010"
}

.glyphicon-th:before {
  content: "\e011"
}

.glyphicon-th-list:before {
  content: "\e012"
}

.glyphicon-ok:before {
  content: "\e013"
}

.glyphicon-remove:before {
  content: "\e014"
}

.glyphicon-zoom-in:before {
  content: "\e015"
}

.glyphicon-zoom-out:before {
  content: "\e016"
}

.glyphicon-off:before {
  content: "\e017"
}

.glyphicon-signal:before {
  content: "\e018"
}

.glyphicon-cog:before {
  content: "\e019"
}

.glyphicon-trash:before {
  content: "\e020"
}

.glyphicon-home:before {
  content: "\e021"
}

.glyphicon-file:before {
  content: "\e022"
}

.glyphicon-time:before {
  content: "\e023"
}

.glyphicon-road:before {
  content: "\e024"
}

.glyphicon-download-alt:before {
  content: "\e025"
}

.glyphicon-download:before {
  content: "\e026"
}

.glyphicon-upload:before {
  content: "\e027"
}

.glyphicon-inbox:before {
  content: "\e028"
}

.glyphicon-play-circle:before {
  content: "\e029"
}

.glyphicon-repeat:before {
  content: "\e030"
}

.glyphicon-refresh:before {
  content: "\e031"
}

.glyphicon-list-alt:before {
  content: "\e032"
}

.glyphicon-lock:before {
  content: "\e033"
}

.glyphicon-flag:before {
  content: "\e034"
}

.glyphicon-headphones:before {
  content: "\e035"
}

.glyphicon-volume-off:before {
  content: "\e036"
}

.glyphicon-volume-down:before {
  content: "\e037"
}

.glyphicon-volume-up:before {
  content: "\e038"
}

.glyphicon-qrcode:before {
  content: "\e039"
}

.glyphicon-barcode:before {
  content: "\e040"
}

.glyphicon-tag:before {
  content: "\e041"
}

.glyphicon-tags:before {
  content: "\e042"
}

.glyphicon-book:before {
  content: "\e043"
}

.glyphicon-bookmark:before {
  content: "\e044"
}

.glyphicon-print:before {
  content: "\e045"
}

.glyphicon-camera:before {
  content: "\e046"
}

.glyphicon-font:before {
  content: "\e047"
}

.glyphicon-bold:before {
  content: "\e048"
}

.glyphicon-italic:before {
  content: "\e049"
}

.glyphicon-text-height:before {
  content: "\e050"
}

.glyphicon-text-width:before {
  content: "\e051"
}

.glyphicon-align-left:before {
  content: "\e052"
}

.glyphicon-align-center:before {
  content: "\e053"
}

.glyphicon-align-right:before {
  content: "\e054"
}

.glyphicon-align-justify:before {
  content: "\e055"
}

.glyphicon-list:before {
  content: "\e056"
}

.glyphicon-indent-left:before {
  content: "\e057"
}

.glyphicon-indent-right:before {
  content: "\e058"
}

.glyphicon-facetime-video:before {
  content: "\e059"
}

.glyphicon-picture:before {
  content: "\e060"
}

.glyphicon-map-marker:before {
  content: "\e062"
}

.glyphicon-adjust:before {
  content: "\e063"
}

.glyphicon-tint:before {
  content: "\e064"
}

.glyphicon-edit:before {
  content: "\e065"
}

.glyphicon-share:before {
  content: "\e066"
}

.glyphicon-check:before {
  content: "\e067"
}

.glyphicon-move:before {
  content: "\e068"
}

.glyphicon-step-backward:before {
  content: "\e069"
}

.glyphicon-fast-backward:before {
  content: "\e070"
}

.glyphicon-backward:before {
  content: "\e071"
}

.glyphicon-play:before {
  content: "\e072"
}

.glyphicon-pause:before {
  content: "\e073"
}

.glyphicon-stop:before {
  content: "\e074"
}

.glyphicon-forward:before {
  content: "\e075"
}

.glyphicon-fast-forward:before {
  content: "\e076"
}

.glyphicon-step-forward:before {
  content: "\e077"
}

.glyphicon-eject:before {
  content: "\e078"
}

.glyphicon-chevron-left:before {
  content: "\e079"
}

.glyphicon-chevron-right:before {
  content: "\e080"
}

.glyphicon-plus-sign:before {
  content: "\e081"
}

.glyphicon-minus-sign:before {
  content: "\e082"
}

.glyphicon-remove-sign:before {
  content: "\e083"
}

.glyphicon-ok-sign:before {
  content: "\e084"
}

.glyphicon-question-sign:before {
  content: "\e085"
}

.glyphicon-info-sign:before {
  content: "\e086"
}

.glyphicon-screenshot:before {
  content: "\e087"
}

.glyphicon-remove-circle:before {
  content: "\e088"
}

.glyphicon-ok-circle:before {
  content: "\e089"
}

.glyphicon-ban-circle:before {
  content: "\e090"
}

.glyphicon-arrow-left:before {
  content: "\e091"
}

.glyphicon-arrow-right:before {
  content: "\e092"
}

.glyphicon-arrow-up:before {
  content: "\e093"
}

.glyphicon-arrow-down:before {
  content: "\e094"
}

.glyphicon-share-alt:before {
  content: "\e095"
}

.glyphicon-resize-full:before {
  content: "\e096"
}

.glyphicon-resize-small:before {
  content: "\e097"
}

.glyphicon-exclamation-sign:before {
  content: "\e101"
}

.glyphicon-gift:before {
  content: "\e102"
}

.glyphicon-leaf:before {
  content: "\e103"
}

.glyphicon-fire:before {
  content: "\e104"
}

.glyphicon-eye-open:before {
  content: "\e105"
}

.glyphicon-eye-close:before {
  content: "\e106"
}

.glyphicon-warning-sign:before {
  content: "\e107"
}

.glyphicon-plane:before {
  content: "\e108"
}

.glyphicon-calendar:before {
  content: "\e109"
}

.glyphicon-random:before {
  content: "\e110"
}

.glyphicon-comment:before {
  content: "\e111"
}

.glyphicon-magnet:before {
  content: "\e112"
}

.glyphicon-chevron-up:before {
  content: "\e113"
}

.glyphicon-chevron-down:before {
  content: "\e114"
}

.glyphicon-retweet:before {
  content: "\e115"
}

.glyphicon-shopping-cart:before {
  content: "\e116"
}

.glyphicon-folder-close:before {
  content: "\e117"
}

.glyphicon-folder-open:before {
  content: "\e118"
}

.glyphicon-resize-vertical:before {
  content: "\e119"
}

.glyphicon-resize-horizontal:before {
  content: "\e120"
}

.glyphicon-hdd:before {
  content: "\e121"
}

.glyphicon-bullhorn:before {
  content: "\e122"
}

.glyphicon-bell:before {
  content: "\e123"
}

.glyphicon-certificate:before {
  content: "\e124"
}

.glyphicon-thumbs-up:before {
  content: "\e125"
}

.glyphicon-thumbs-down:before {
  content: "\e126"
}

.glyphicon-hand-right:before {
  content: "\e127"
}

.glyphicon-hand-left:before {
  content: "\e128"
}

.glyphicon-hand-up:before {
  content: "\e129"
}

.glyphicon-hand-down:before {
  content: "\e130"
}

.glyphicon-circle-arrow-right:before {
  content: "\e131"
}

.glyphicon-circle-arrow-left:before {
  content: "\e132"
}

.glyphicon-circle-arrow-up:before {
  content: "\e133"
}

.glyphicon-circle-arrow-down:before {
  content: "\e134"
}

.glyphicon-globe:before {
  content: "\e135"
}

.glyphicon-wrench:before {
  content: "\e136"
}

.glyphicon-tasks:before {
  content: "\e137"
}

.glyphicon-filter:before {
  content: "\e138"
}

.glyphicon-briefcase:before {
  content: "\e139"
}

.glyphicon-fullscreen:before {
  content: "\e140"
}

.glyphicon-dashboard:before {
  content: "\e141"
}

.glyphicon-paperclip:before {
  content: "\e142"
}

.glyphicon-heart-empty:before {
  content: "\e143"
}

.glyphicon-link:before {
  content: "\e144"
}

.glyphicon-phone:before {
  content: "\e145"
}

.glyphicon-pushpin:before {
  content: "\e146"
}

.glyphicon-usd:before {
  content: "\e148"
}

.glyphicon-gbp:before {
  content: "\e149"
}

.glyphicon-sort:before {
  content: "\e150"
}

.glyphicon-sort-by-alphabet:before {
  content: "\e151"
}

.glyphicon-sort-by-alphabet-alt:before {
  content: "\e152"
}

.glyphicon-sort-by-order:before {
  content: "\e153"
}

.glyphicon-sort-by-order-alt:before {
  content: "\e154"
}

.glyphicon-sort-by-attributes:before {
  content: "\e155"
}

.glyphicon-sort-by-attributes-alt:before {
  content: "\e156"
}

.glyphicon-unchecked:before {
  content: "\e157"
}

.glyphicon-expand:before {
  content: "\e158"
}

.glyphicon-collapse-down:before {
  content: "\e159"
}

.glyphicon-collapse-up:before {
  content: "\e160"
}

.glyphicon-log-in:before {
  content: "\e161"
}

.glyphicon-flash:before {
  content: "\e162"
}

.glyphicon-log-out:before {
  content: "\e163"
}

.glyphicon-new-window:before {
  content: "\e164"
}

.glyphicon-record:before {
  content: "\e165"
}

.glyphicon-save:before {
  content: "\e166"
}

.glyphicon-open:before {
  content: "\e167"
}

.glyphicon-saved:before {
  content: "\e168"
}

.glyphicon-import:before {
  content: "\e169"
}

.glyphicon-export:before {
  content: "\e170"
}

.glyphicon-send:before {
  content: "\e171"
}

.glyphicon-floppy-disk:before {
  content: "\e172"
}

.glyphicon-floppy-saved:before {
  content: "\e173"
}

.glyphicon-floppy-remove:before {
  content: "\e174"
}

.glyphicon-floppy-save:before {
  content: "\e175"
}

.glyphicon-floppy-open:before {
  content: "\e176"
}

.glyphicon-credit-card:before {
  content: "\e177"
}

.glyphicon-transfer:before {
  content: "\e178"
}

.glyphicon-cutlery:before {
  content: "\e179"
}

.glyphicon-header:before {
  content: "\e180"
}

.glyphicon-compressed:before {
  content: "\e181"
}

.glyphicon-earphone:before {
  content: "\e182"
}

.glyphicon-phone-alt:before {
  content: "\e183"
}

.glyphicon-tower:before {
  content: "\e184"
}

.glyphicon-stats:before {
  content: "\e185"
}

.glyphicon-sd-video:before {
  content: "\e186"
}

.glyphicon-hd-video:before {
  content: "\e187"
}

.glyphicon-subtitles:before {
  content: "\e188"
}

.glyphicon-sound-stereo:before {
  content: "\e189"
}

.glyphicon-sound-dolby:before {
  content: "\e190"
}

.glyphicon-sound-5-1:before {
  content: "\e191"
}

.glyphicon-sound-6-1:before {
  content: "\e192"
}

.glyphicon-sound-7-1:before {
  content: "\e193"
}

.glyphicon-copyright-mark:before {
  content: "\e194"
}

.glyphicon-registration-mark:before {
  content: "\e195"
}

.glyphicon-cloud-download:before {
  content: "\e197"
}

.glyphicon-cloud-upload:before {
  content: "\e198"
}

.glyphicon-tree-conifer:before {
  content: "\e199"
}

.glyphicon-tree-deciduous:before {
  content: "\e200"
}

.glyphicon-cd:before {
  content: "\e201"
}

.glyphicon-save-file:before {
  content: "\e202"
}

.glyphicon-open-file:before {
  content: "\e203"
}

.glyphicon-level-up:before {
  content: "\e204"
}

.glyphicon-copy:before {
  content: "\e205"
}

.glyphicon-paste:before {
  content: "\e206"
}

.glyphicon-alert:before {
  content: "\e209"
}

.glyphicon-equalizer:before {
  content: "\e210"
}

.glyphicon-king:before {
  content: "\e211"
}

.glyphicon-queen:before {
  content: "\e212"
}

.glyphicon-pawn:before {
  content: "\e213"
}

.glyphicon-bishop:before {
  content: "\e214"
}

.glyphicon-knight:before {
  content: "\e215"
}

.glyphicon-baby-formula:before {
  content: "\e216"
}

.glyphicon-tent:before {
  content: "\26fa"
}

.glyphicon-blackboard:before {
  content: "\e218"
}

.glyphicon-bed:before {
  content: "\e219"
}

.glyphicon-apple:before {
  content: "\f8ff"
}

.glyphicon-erase:before {
  content: "\e221"
}

.glyphicon-hourglass:before {
  content: "\231b"
}

.glyphicon-lamp:before {
  content: "\e223"
}

.glyphicon-duplicate:before {
  content: "\e224"
}

.glyphicon-piggy-bank:before {
  content: "\e225"
}

.glyphicon-scissors:before {
  content: "\e226"
}

.glyphicon-bitcoin:before {
  content: "\e227"
}

.glyphicon-btc:before {
  content: "\e227"
}

.glyphicon-xbt:before {
  content: "\e227"
}

.glyphicon-yen:before {
  content: "\00a5"
}

.glyphicon-jpy:before {
  content: "\00a5"
}

.glyphicon-ruble:before {
  content: "\20bd"
}

.glyphicon-rub:before {
  content: "\20bd"
}

.glyphicon-scale:before {
  content: "\e230"
}

.glyphicon-ice-lolly:before {
  content: "\e231"
}

.glyphicon-ice-lolly-tasted:before {
  content: "\e232"
}

.glyphicon-education:before {
  content: "\e233"
}

.glyphicon-option-horizontal:before {
  content: "\e234"
}

.glyphicon-option-vertical:before {
  content: "\e235"
}

.glyphicon-menu-hamburger:before {
  content: "\e236"
}

.glyphicon-modal-window:before {
  content: "\e237"
}

.glyphicon-oil:before {
  content: "\e238"
}

.glyphicon-grain:before {
  content: "\e239"
}

.glyphicon-sunglasses:before {
  content: "\e240"
}

.glyphicon-text-size:before {
  content: "\e241"
}

.glyphicon-text-color:before {
  content: "\e242"
}

.glyphicon-text-background:before {
  content: "\e243"
}

.glyphicon-object-align-top:before {
  content: "\e244"
}

.glyphicon-object-align-bottom:before {
  content: "\e245"
}

.glyphicon-object-align-horizontal:before {
  content: "\e246"
}

.glyphicon-object-align-left:before {
  content: "\e247"
}

.glyphicon-object-align-vertical:before {
  content: "\e248"
}

.glyphicon-object-align-right:before {
  content: "\e249"
}

.glyphicon-triangle-right:before {
  content: "\e250"
}

.glyphicon-triangle-left:before {
  content: "\e251"
}

.glyphicon-triangle-bottom:before {
  content: "\e252"
}

.glyphicon-triangle-top:before {
  content: "\e253"
}

.glyphicon-console:before {
  content: "\e254"
}

.glyphicon-superscript:before {
  content: "\e255"
}

.glyphicon-subscript:before {
  content: "\e256"
}

.glyphicon-menu-left:before {
  content: "\e257"
}

.glyphicon-menu-right:before {
  content: "\e258"
}

.glyphicon-menu-down:before {
  content: "\e259"
}

.glyphicon-menu-up:before {
  content: "\e260"
}


