
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

html, body {
    font-family: 'Nunito', sans-serif;
    /* color: #636b6f; */
    /* margin: 0; */
    padding-left: 4%;
    padding-right: 4%;
    
    background: linear-gradient(120deg,#abdbe3, #76b5c5);
}

.full-height {
  height: 100vh;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.position-ref {
  position: relative;
}
.top-right {
  position: absolute;
} 
.title {
  font-size: 84px;
}
.links > a {
  /* color: #636b6f; */
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

footer {
    overflow: hidden;
    bottom: 0;
    background: #eee;
    padding: 10px;
    text-align: center;
    Width: 100%;
}


/*  style for navigation bar   */

.topnav {
    background-color: #5BCCE9;
    color: #5BCCE9;
    overflow: hidden;
    width: 100%;
    transition: top 0.3s;
    padding-right: 10px;
    z-index: 1;
    top: 0;
}
.topnav a {
    float: right;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav span {
    float: left;
    color: #fcfcfc;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 22px;
}
.topnav a:hover {
    background-color: rgb(104, 171, 230);
    color: black;
}
.topnav a.active {
    background-color: #04AA6D;
    color: black;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
.topnav a.active:hover {
    background-color: rgb(104, 171, 230);
    color: black;
}

.sticky {
    position: fixed;
    top: 0;
    padding-right: 99px;
    width: 100%;
    z-index: 20;
}
.sticky+.content {
    padding-top: 60px;
}

@media screen and (max-width: 600px) {
    .topnav a, a.active {
        /* float: none; */
        display: block;
        text-align: left;
        font-size: 12px;
        margin: 0;
        padding: 10px;
        float: right;
    }
    .topnav span {
        float: left;
        text-align: left;
        padding: 10;
        font-size: 15px;
    }
}

 
button { 
    background-color: #2ecce0;
    color: white;
    cursor: pointer;
    width: 100%;
    height: 40px;
} 
button:hover { 
    opacity: 0.7;
}

 
.left {
    width: 25%;
}

.right {
    width: 75%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.wrapper{
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}


.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid #1c8ad4;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #fec107;
  display: block;
  position: relative;
}
.wrapper .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #fec107;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper .form .inputfield .btn{
  width: 100%;
  padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background: #2691d9;
  color: #e9f4fb;
  cursor: pointer;
  border-radius: 3px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover{
  border-color: #88a5b8;
  background: #4d94c4;
  transition: .5s;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}

